---
layout: default
---
<div class="home">
  {{ content }}

  {% if site.posts.size > 0 %}
  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if site.notes.size > 0 %}
  <h2>Notes</h2>
  <ul class="post-list">
    {% for note in site.notes %}
    <li>
      <a href="{{ note.url | relative_url }}">{{ note.title | default: note.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
